### INSERT DATA TO SQL

In [25]:
import mysql.connector
from mysql.connector import errorcode
import pandas as pd

In [ ]:
# conectar con mysql -- cambiar PASSWORD! ;)
cnx = mysql.connector.connect(
            user='root',
            password='---------',
            host='127.0.0.1')

cursor = cnx.cursor()

In [27]:
cursor.execute("USE musicstream")

In [28]:
cnx.database

'musicstream'

In [29]:
# importar .csv para tener un DataFrame
df_lastfm = pd.read_csv('Artistas_LastFM.csv')
df_spotify = pd.read_csv('Canciones_Spotify.csv')

In [30]:
# error en la linea 72 - a√±o solo 2015

df_spotify.head(73)

,id,track_name,artist_name,year,genre,album_type,release_date,popularity
0,1WHNqqRWhJVZIdCScFKtl5,Washington on Your Side,Leslie Odom Jr.,2015,soundtrack,album,2015-09-25,66
1,1DLfR4MOfLYbV6v3xrmWa8,We Know,Lin-Manuel Miranda,2015,soundtrack,album,2015-09-25,66
2,2AtC6i0b8TjpjhWBZYLprX,Bonetrousle,Toby Fox,2015,soundtrack,album,2015-09-15,58
3,6oF8ueLn5hIl4PRp17sxW6,That Would Be Enough,Phillipa Soo,2015,soundtrack,album,2015-09-25,67
4,46YSff2Rq1ZtN1YVk5cwbZ,Brave Shine,Aimer,2015,soundtrack,album,2015-07-29,61
...,...,...,...,...,...,...,...,...
68,5L9MJsGqzTRD09rSzHkCDy,Home,Toby Fox,2015,soundtrack,album,2015-09-15,62
69,6YTc18izaUvCS2XD7rK9Am,Dance of Dragons,Ramin Djawadi,2015,soundtrack,album,2015-06-09,46
70,3TfKt8mPpdXfQTMfRjHzyz,Cabinet Battle #1,Christopher Jackson,2015,soundtrack,album,2015-09-25,66
71,4EnswQiF7J5MsB18ElZSS2,Esperanza Madre del Amor,Agrupacion Musical Nuestro Padre Jes√∫s Despoja...,2015,soundtrack,album,2015,25
72,0Lc3coQTcMMJiiEFi7BG2z,The Vagabond,Marcin Przyby≈Çowicz,2015,soundtrack,album,2015-08-26,52

In [31]:
df_lastfm.tail(10)

,artist_name,biography,listeners,playcount,similar_artist
1188,Praiz,"Praise Ugbede Adejo (born 8 March 1984), bette...",20002,118125,illBliss
1189,Irina Barros,https://www.last.fm/music/Irina+Barros,4813,44915,Rui Orlando
1190,PAAX (Tulum),https://www.last.fm/music/PAAX+(Tulum),40020,273449,Antaares
1191,Matt Sawyer,https://www.last.fm/music/Matt+Sawyer,1763,4411,Stereo Kulisse
1192,Cubita,https://www.last.fm/music/Cubita,5400,50332,Nuno Ribeiro
1193,Amaarae,"Ama Serwah Genfi (born July 4, 1994), known pr...",938668,30555467,Rochelle Jordan
1194,Chris Brown,"Christopher Maurice Brown (born May 5, 1989) i...",4606712,147516074,Chris Brown & Tyga
1195,Lola Jane,https://www.last.fm/music/Lola+Jane,5747,50806,Archie & Sizzle
1196,Duda,There are two groups using the name Duda one f...,6673,70358,Peled
1197,Simone Vitullo,Simone Vitullo DJ and house music producer for...,21762,102322,Chambord

In [32]:
#NULOS - convertir NULOS de NaN a None (para que SQL acepte los datos)
df_lastfm  = df_lastfm.where(pd.notnull(df_lastfm), None)
df_spotify = df_spotify.where(pd.notnull(df_spotify), None)

In [37]:
# MySQL - inserir data en la tabla LastFM

sql_lastfm = """INSERT INTO lastfm (artist_name, biography, listeners, playcount, similar_artists)
                VALUES (%s, %s, %s, %s, %s)
"""
cursor.executemany(sql_lastfm, df_lastfm.values.tolist())

IntegrityError: 1062 (23000): Duplicate entry 'Leslie Odom Jr.' for key 'lastfm.PRIMARY'

**Cambiar 'release_date' de   a√±o '2015'   para   a√±o completo '2015-01-01**

In [34]:
# 1. Asegurar que la columna 'release_date' sea de tipo string para operar sobre el formato.
df_spotify['release_date'] = df_spotify['release_date'].astype(str)

# 2. Crear una condici√≥n: ¬øTiene el valor exactamente 4 caracteres (solo a√±o)?
# Esto identifica '2015' pero excluye '2015-10-25' (que tiene 10 caracteres).
condicion_solo_anio = (df_spotify['release_date'].str.len() == 4)

# 3. Aplicar la correcci√≥n usando .loc:
# En las filas donde la condici√≥n es VERDADERA, a√±adimos '-01-01' al final.
df_spotify.loc[condicion_solo_anio, 'release_date'] = \
    df_spotify.loc[condicion_solo_anio, 'release_date'] + '-01-01'

# 4. (Opcional pero muy recomendado) Convertir la columna al tipo datetime de Pandas
# Esto valida que todos los valores ahora son fechas v√°lidas.
df_spotify['release_date'] = pd.to_datetime(df_spotify['release_date'], errors='coerce')

In [35]:
# revisando el error de la linea 72

df_spotify.head(1407)

,id,track_name,artist_name,year,genre,album_type,release_date,popularity
0,1WHNqqRWhJVZIdCScFKtl5,Washington on Your Side,Leslie Odom Jr.,2015,soundtrack,album,2015-09-25,66
1,1DLfR4MOfLYbV6v3xrmWa8,We Know,Lin-Manuel Miranda,2015,soundtrack,album,2015-09-25,66
2,2AtC6i0b8TjpjhWBZYLprX,Bonetrousle,Toby Fox,2015,soundtrack,album,2015-09-15,58
3,6oF8ueLn5hIl4PRp17sxW6,That Would Be Enough,Phillipa Soo,2015,soundtrack,album,2015-09-25,67
4,46YSff2Rq1ZtN1YVk5cwbZ,Brave Shine,Aimer,2015,soundtrack,album,2015-07-29,61
...,...,...,...,...,...,...,...,...
1402,4YRZwIAblxzxkf78IbUNhp,Gundeme,Hozan Muzaffer,2019,k-pop,album,2019-04-01,0
1403,7djeEwxzTz9ToI03p6RRjM,Neem Ke Patiya Pe,Rajiv Raj,2019,k-pop,compilation,2019-09-25,0
1404,6Dr2LqP1dadmZW3eQLGKim,Do Dat Tih$,Rabbit,2019,k-pop,single,2019-12-29,0
1405,5epJh0RcVEMC4qxsJIikbZ,Telmƒ±n √áiye,Hozan Serwan,2019,k-pop,album,2019-06-26,0
1406,6r53EJbzzzC2HGIHOmuNve,Darabiye,Hozan ≈ûervan,2019,k-pop,album,2019-06-20,0

In [36]:
# MySQL - inserir data en la tabla Spotify

sql_spotify = """INSERT INTO spotify (id, track_name, artist_name, `year`, genre, album_type, release_date, popularity)
                #VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
"""
cursor.executemany(sql_spotify, df_spotify.values.tolist())

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '' at line 2

In [13]:
# 1. Identificar Duplicados
# Usamos el campo 'id' (tu clave primaria) para buscar filas duplicadas.
# 'keep=False' marca *todas* las instancias de un duplicado (la primera y las posteriores).
df_duplicados = df_spotify[df_spotify.duplicated(subset=['id'], keep=False)]

# 2. Obtener Solo Filas √önicas
# 'keep="first"' mantiene la primera aparici√≥n de cada 'id' √∫nico y descarta el resto.
df_unicos = df_spotify.drop_duplicates(subset=['id'], keep='first')

# 3. Mostrar las IDs que ser√°n descartadas
print("--- üõë ATENCI√ìN: IDs de canciones repetidas descartadas ---")
# Filtramos df_duplicados para mostrar solo las que NO est√°n en df_unicos
ids_duplicadas = df_duplicados[~df_duplicados.index.isin(df_unicos.index)]['id'].unique()

if ids_duplicadas.size == 0:
    print("No se encontraron IDs duplicadas en el DataFrame.")
else:
    print(f"Se encontraron y descartaron {len(ids_duplicadas)} IDs duplicadas:")
    for track_id in ids_duplicadas:
        # Aqu√≠ puedes ajustar qu√© informaci√≥n quieres mostrar (ej: solo la ID)
        print(f"‚ùå ID: {track_id}")

print("----------------------------------------------------------")
print(f"Datos a insertar: {len(df_unicos)} filas √∫nicas.")


# 4. Insertar los Datos √önicos en MySQL
sql_spotify = """INSERT INTO spotify (id, track_name, artist_name, `year`, genre, album_type, release_date, popularity)
                VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
"""

try:
    # Usamos df_unicos (sin duplicados) para la inserci√≥n
    cursor.executemany(sql_spotify, df_unicos.values.tolist())
    # Confirma la transacci√≥n en la base de datos
    cnx.commit() 
    print(f"‚úÖ √âXITO: Se insertaron {cursor.rowcount} filas √∫nicas en la tabla 'spotify'.")
except Exception as e:
    # En caso de que ocurra otro error durante la inserci√≥n
    print(f"‚ùå ERROR durante la inserci√≥n final: {e}")
    # Deshace cualquier cambio si la inserci√≥n falla
    cnx.rollback()

--- üõë ATENCI√ìN: IDs de canciones repetidas descartadas ---
Se encontraron y descartaron 61 IDs duplicadas:
‚ùå ID: 1Ogp6LEB5Qw1kl0pmpRJwo
‚ùå ID: 5QhyZb93AHFlpznADf9Jsu
‚ùå ID: 7xvqadKFlrEn3WBdx60FP5
‚ùå ID: 3gkaxVLKhjpaLiUzGjuSbH
‚ùå ID: 1jfsYYqVRVdyrbfqwOGdpq
‚ùå ID: 3GJGMPUXISaQdAAOr7OAm9
‚ùå ID: 5f4B9bJra0XLDcDRkcYsEK
‚ùå ID: 2f67tCczV1DxwjsiKhm3wz
‚ùå ID: 525eXAknaCIBpoxHGHrjwt
‚ùå ID: 14OWTW3gB3UPDhz0J1lcak
‚ùå ID: 5oa1hcdOT426gWWZ6ZKPru
‚ùå ID: 3vVWk5It0E9siRKKn0RInw
‚ùå ID: 4isDdT0nFh0VXhCTVEEISD
‚ùå ID: 4qkVb2zemrcfAiHLH2Jc7L
‚ùå ID: 6g4y38jrL9AqPW7dXVSe8p
‚ùå ID: 3eLrmO04uxtZPgjL846qbb
‚ùå ID: 1oc22PLiDwmVKudDNGBTUk
‚ùå ID: 7xqR92Kowv1VIsiUbJ6t3P
‚ùå ID: 4ZCU5XdO7HWshWRlWKg5Yf
‚ùå ID: 3HwnmR5Elvm3aHRRYiz4kr
‚ùå ID: 0Wu2aurcMw6theY4nQgLPp
‚ùå ID: 2d1CRXLd1DJHeHFQPG0lF7
‚ùå ID: 1JbTZIZcEZRGM7J2OyF3ZJ
‚ùå ID: 7q8FFLCmQ8j9EhtoKyqtx2
‚ùå ID: 6RqpYSSE8g57EJzEl05al7
‚ùå ID: 7iBEzm2Pt90mjqWTjQBkfG
‚ùå ID: 72QBBuwggcOGz0lVmajzfp
‚ùå ID: 1Xjt165Bwl3DJxuvraFWSL
‚ùå ID: 65ldmXqHh3sbz2Kbrgg81A
‚ùå ID: 2rIJInYqXxLtBsr4tv4iVI
‚ùå ID: 0zWFmIgB6s2bpCB8wj7tFU
‚ùå ID: 5TDcq4xiAFoohjEzB83dKc
‚ùå ID: 499T7X9VKIT7M71Q2JKqPR
‚ùå ID: 0SI8x9Coe0xCMvZUq5Bszg
‚ùå ID: 39nDyECADRGyIzUhuflKB5
‚ùå ID: 42CxIkeUuAFpLVOz8DLi71
‚ùå ID: 1Ei0rkpxztRumGySFqLdfo
‚ùå ID: 6cQoQFxTIB89DVrLhFxQBQ
‚ùå ID: 1e1McL6hjKveUWLpy03qUH
‚ùå ID: 2Jia7LolY0bRVsgBRpBpG9
‚ùå ID: 1MZ2PVbZHXA5fIPR96o79f
‚ùå ID: 6Acl5CFe4dbjG0H2xiC0xB
‚ùå ID: 0cL9B4rd7T6eZvUvypSP6f
‚ùå ID: 4URmdc4wJ9IlzVk6Kb5T6R
‚ùå ID: 03dBiBUSOTKiiOsRp6kdNm
‚ùå ID: 3cEoEsV8VYuocogAsU1WpH
‚ùå ID: 7zdKIzgk3CrxzEeF268Vii
‚ùå ID: 6A0vd0vOuJDczvbwtN9oIZ
‚ùå ID: 4uwrECHi5yga5Au4vkRhZK
‚ùå ID: 4FLwlKPYQ1fqxD3Edd6hMs
‚ùå ID: 2URASsTdMZN1BQ0UnNTQHx
‚ùå ID: 1WIqDDnC3nrdPrV4xwPB4y
‚ùå ID: 3HzWalmFCItcZ7SUsddbzN
‚ùå ID: 6r53EJbzzzC2HGIHOmuNve
‚ùå ID: 52uiceQetkHJYkaa8hEZMu
‚ùå ID: 4lIh1ohrRufZ17wN5WTZMH
‚ùå ID: 5epJh0RcVEMC4qxsJIikbZ
‚ùå ID: 1fJlgVMwbx8gvegNeg2Yw9
‚ùå ID: 68gzf3AleOyt4NlKwpV0MY
‚ùå ID: 11RIJRbBfyLlJut96itSFd
‚ùå ID: 3XCG6g2qjsbSWZbGiPONod
----------------------------------------------------------
Datos a insertar: 2939 filas √∫nicas.
‚ùå ERROR durante la inserci√≥n final: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`musicstream`.`spotify`, CONSTRAINT `fk_spotify_lastfm` FOREIGN KEY (`artist_name`) REFERENCES `lastfm` (`artist_name`) ON DELETE CASCADE ON UPDATE CASCADE)

In [14]:
cnx.close()